@if (Request.IsAuthenticated) {
    <text>
        Здраствуйте @Html.Label(User.Identity.Name)
        @using (Html.BeginForm("LogOff","Account", FormMethod.Post, new { id= "logoutForm"})){
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a>
}
    </text>
}else {
    <ul>
        <li>@Html.ActionLink("Log In", "LogOn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}